<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  

  <environments default="development">
    <environment id="development">
    
    
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://product-db-campus.smhrd.com:3307/cgi_23k_big23_p2_2"/>
        <property name="username" value="cgi_23k_big23_p2_2"/>
        <property name="password" value="smhrd2"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/smhrd/database/BooksMapper.xml"/>
  </mappers>
</configuration>